#tabla ,
.tabla{
    width: 80%;
    border-collapse: separate;
}

td {
    /*width: 33.33%;*/
    text-align: center ;
    border: 1px solid #000000;
    
}
hr{
    height: 1px;
    background-color: black;

}
hr:hover{
    height: 1px;
    cursor: pointer;
    background-color: red;
}

